<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HarishCoder</title>
        <link rel = "shortcut icon" type = "image/png" href = "https://lh3.googleusercontent.com/-4pWXftgjvLQ/XAKnTfRwkMI/AAAAAAAAFlI/tIHnV-ztarEk6UdDmDXtMbyw5Y6ZU8hvwCL0BGAs/w530-d-h742-n-rw/Logo.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/forecast.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Caveat|Covered+By+Your+Grace|Gloria+Hallelujah|Kaushan+Script|Marck+Script|Satisfy|Shadows+Into+Light|Yellowtail" rel="stylesheet">
    </head>
    <body style="background: url('{% static 'images/Forecast/Forecast.jpg' %}') no-repeat center fixed ; background-size: cover; overflow-y: hidden;">
        <div class="box" style="position: center;">
            <div class = container style="text-align: left;">
                <strong><h1 style="text-align: center;"><em>Weather Forecast</em></h1></strong>
                <br>
                <br>
                <h2 style="text-align: center;"><u>{{ city }}</u></h2>
                <br>
                <br>
                <p style="font-size: larger;"><strong>Description: </strong><span style="font-style: italic;"> {{ description }} </span></p>
                <p style="font-size: larger;"><strong>Temperature: </strong><span style="font-style: italic;"> {{ temperature }} </span></p>
                <p style="font-size: larger;"><strong>Humidity: </strong><span style="font-style: italic;"> {{ humidity }} </span></p>
                <p style="font-size: larger;"><strong>Pressure: </strong><span style="font-style: italic;"> {{ pressure }} </span></p>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <footer style="position: fixed; bottom: 0%; right:0%; font-family: 'Caveat', cursive; font-size: larger; font-weight: bolder; color: whitesmoke;">
            <small class="container">Developed using Django</small>
        </footer>
    </body>
</html>